

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 10vh;
    gap: 10px;
    text-transform: uppercase;
}

/* hero section */

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
    background-color: #669999;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
        width: 50vw;
    }
}

/* content section */

#content-box {
    display: grid;
    grid-template-columns: 50vw 50vw;

    img {
        max-width: 100%;
    }
}

.content-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    
}

/* skill section */

.skl {
    justify-content:space-around;
}
.skills {
    margin: auto;
    
    td {
        padding-right: 25px;
        padding-left: 25px;
}

    tr:hover .star i{
        color: #FFCC33;
        transition: 0.5s;
    }
}

.skills img {
    width: 30px;
    transition: 0.3s;
    border-radius: 5px;
}

.star {
    text-align: right;
}

/* accordion */

.accordion-container {
    background-color: #1a237e;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 10vh;
    padding-top: 10vh;

    h2 {
        margin-bottom: 10px;
        color: #FFCC33;
    }

}

.accordion {
    background-color: #fff;
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding: 1.5rem;
    width: 100%;
    border: none;
    border-radius: 20px;
    transition: 0.4s;
}
 
.active, .accordion:hover {
    background-color: rgb(252, 187, 0);
    color: black;
    border: none;
}

.accordion:after {
    font-size: 15px;
    content: '\002B';
    color: #000;
    float: right;
}

.active:after {
    content: '\002D';
    color: black;
}
  
.panel {
    background-color: #fff;
    max-height: 0;
    border-radius: 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
    p{
        padding: 1.5rem;
        text-align: left;
    }
}

