#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 10vh;
    gap: 10px;
    text-transform: uppercase;
}

/* hero section */

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.hero-banner img {
    width: 100%;
    object-fit: cover;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    p {
        width: 50vw;
    }
}

/* content section */

#content-box {
    display: grid;
    grid-template-columns: 50vw 50vw;

    img {
        max-width: 100%;
    }
}

.content-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    
}

/* skill section */

.skl {
    justify-content:space-around;
}
.skills {
    margin: auto;
    
    td {
        padding-right: 25px;
        padding-left: 25px;
}

    tr:hover .star i{
        color: #FFCC33;
        transition: 0.5s;
    }
}

.skills img {
    width: 30px;
    transition: 0.3s;
    border-radius: 5px;
}

.star {
    text-align: right;
}

/* accordion */

.accordion-container {
    background-color: #1a237e;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 10vh;
    padding-top: 10vh;

    h2 {
        margin-bottom: 10px;
        color: #FFCC33;
    }

}

.accordion {
    background-color: #fff;
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding: 1.5rem;
    width: 100%;
    border: none;
    border-radius: 20px;
    transition: 0.4s;
}
 
.active, .accordion:hover {
    background-color: #FFCC33;
    color: black;
    border: none;
}

.accordion:after {
    font-size: 15px;
    content: '\002B';
    color: #000;
    float: right;
}

.active:after {
    content: '\002D';
    color: black;
}
  
.panel {
    background-color: #fff;
    max-height: 0;
    border-radius: 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
    p{
        padding: 1.5rem;
        text-align: left;
    }
}

/* card section */
ul {
    list-style: none;
}

.card {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
    width: 100%;
}

.card-container img {
    border-bottom: 3px solid #FFCC33;
    border-radius: 7px 7px 0 0;
    height: auto;
    width: 100%;
}

.card-container video {
    border-bottom: 3px solid #FFCC33;
    border-radius: 7px 7px 0 0;
    height: auto;
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;
    margin: 10rem;
}

.card-container h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-weight: 100;
}

.card-content {
    padding: 1rem;
}

/* footer section */

.footer-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
    width: 100%;
    padding: 5rem 10rem;
}

.footer-box a {
    color: #fff;
}

.footer-box a:hover {
    color: #FFCC33;
    transition: 0.5s;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100%;
}

.links {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.icons {
    display: flex;
    gap: 1rem;
    font-size: 20px;
}

.map {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.map iframe {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
}

#footyr {
    margin-top: auto;
    padding-top: 3rem;
    color: #fff;
    font-size: 12px;
}

#footyr:hover {
    color: #FFCC33;
    transition: 0.5s;
    cursor: default;
}
